@import "variables";
@import "mixins";
.about {
  background-color: $aboutBackgroundColor;
  width: 100vw;
  min-height: 822px;
  max-width: 1193px;
  @include flex-column;


  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .heading--dark-color {
    color: #464547;
  }
  .subheading {
    color: #666666;
  }

  &__article {
    display: flex;
    justify-content: space-between;
    color: #666;
    flex-direction: row;
    gap: 20px;
  }
  &__text {
    width: 45%;
    text-align: left;
  }
  &__button {
    height: 36px;
    width: 118px;
    border-radius: 40px;
    background-color: $aboutButtonColor;
    color: white;
    border: none;
    transition-duration: 0.5s;

    &:hover {
      transform: rotate($aboutButtonHoverRotate);
    }
  }
}

