.about {
  background-color: #EEEEEE;
  width: 100vw;
  min-height: 822px;
  max-width: 1193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.about .heading--dark-color {
  color: #464547;
}
.about .subheading {
  color: #666666;
}
.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.about__text {
  width: 45%;
  text-align: left;
}
.about__button {
  height: 36px;
  width: 118px;
  border-radius: 40px;
  background-color: #55C2D8;
  color: white;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.about__button:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}