@import "variables";
.first-page {
  width: 100vw;
  max-width: 1192px;
  height: 791px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  background-image: $firstSectionBg;
  overflow: hidden;
  background-position: right;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__small-stars {
    position: absolute;
    top: 13px;
    right: 34px;
    animation-name: small-stars;
    z-index: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    @keyframes small-stars {
      0% {
        width: 740px;
        height: 662px;
      }
      100% {
        width: 780px;
        height: 700px;
      }
    }
  }
  &__big-stars {
    position: absolute;
    z-index: 0;
    top: 65px;
    right: 3px;
    animation-name: big-stars;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    filter: drop-shadow(6px 0px 10px white);
    @keyframes big-stars {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }




  &__center-elements {
    max-width: 426px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 63px;
    height: 63px;
    z-index: 1;
    img {
      width: 63px;
      transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
      height: 63px;
    }
    &:hover img {
      width: 50px;
      height: 50px;
      transform: rotateY(180deg);
    }
  }
}

