@import "variables";

.footer {
  width: 100vw;
  min-height: 170px;
  max-width: 1193px;
  background-color: $footerBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF66;
  }

  &__image {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: white;
  }
  &__image-wrapper {
    display: flex;
    gap: 10px;
  }
}
