.header {
  width: 100%;
  z-index: 2;
  max-width: 1193px;
  position: absolute;
  top: min(10%, 80px);
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;

  &__menu {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__burger-menu {
    display: none;
    position: relative;
  }

  &__logo {
    font-size: 20px;
    letter-spacing: 2px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 20px;

      li:hover {
        text-decoration: underline 3px;
        text-underline-offset: 7px;
      }
    }
  }
}
