body {
  font-weight: 400;
  line-height: 22px;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
}

.container {
  width: 80%;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  line-height: 64px;
}

.subheading {
  line-height: 32px;
  font-size: 24px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
