@media (max-width: 768px) {
  .header__nav ul {
    display: none;
  }

  .header__burger-menu {
    display: flex;
    align-self: center;
  }

  .header__burger-icon {
    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: white;
      margin-bottom: 5px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  #burger-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  #burger-toggle:checked + .header__burger-icon + .menu-items {
    display: block;
  }

  #burger-toggle:checked + .header__burger-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #burger-toggle:checked + .header__burger-icon span:nth-child(2) {
    opacity: 0;
  }

  #burger-toggle:checked + .header__burger-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  //second section

  .about__article {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .about__text {
    width: 100%;
  }

  //footer
  .footer .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__image {
    align-self: center;
  }
}
