.stories {
  width: 100vw;
  height: 100vh;
  max-width: 1193px;
  max-height: 666px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(140, 79, 42, 0.3)), to(rgba(140, 79, 42, 0.3))), url("../assets/third-section-bg.jpg");
  background-image: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url("../assets/third-section-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories .container {
  width: 480px;
  height: 492px;
  max-width: 480px;
  min-height: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: center;
}
.stories__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  background-color: #55C2D8;
  color: white;
  font-size: 48px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.stories__button:hover {
  background-color: white;
  color: #55C2D8;
  width: 140px;
  height: 140px;
  font-size: 40px;
}
.stories__button span {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}