@import "variables";

.stories {
  width: 100vw;
  height: 100vh;
  max-width: 1193px;
  max-height: 666px;
  background-image: linear-gradient(rgba(140, 79, 42, 0.30), rgba(140, 79, 42, 0.30)), $thirdSectionBg;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  object-fit: cover;

  .container {
    width: 480px;
    height: 492px;
    max-width: 480px;
    min-height: 492px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: $buttonBackgroundColor;
    color: $buttonTextColor;
    font-size: 48px;
    transition-duration: 0.5s;

    &:hover {
      background-color: $buttonHoverBackgroundColor;
      color: $buttonHoverTextColor;
      width: $buttonHoverWidth;
      height: $buttonHoverHeight;
      font-size: $buttonHoverFontSize;
    }

    span {
      transform: scaleX(1.2);
    }
  }
}
