.first-page {
  width: 100vw;
  max-width: 1192px;
  height: 791px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  background-image: url("../assets/first-section-bg.jpg");
  overflow: hidden;
  background-position: right;
}
.first-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-page__small-stars {
  position: absolute;
  top: 13px;
  right: 34px;
  -webkit-animation-name: small-stars;
          animation-name: small-stars;
  z-index: 0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes small-stars {
  0% {
    width: 740px;
    height: 662px;
  }
  100% {
    width: 780px;
    height: 700px;
  }
}
@keyframes small-stars {
  0% {
    width: 740px;
    height: 662px;
  }
  100% {
    width: 780px;
    height: 700px;
  }
}
.first-page__big-stars {
  position: absolute;
  z-index: 0;
  top: 65px;
  right: 3px;
  -webkit-animation-name: big-stars;
          animation-name: big-stars;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-filter: drop-shadow(6px 0px 10px white);
          filter: drop-shadow(6px 0px 10px white);
}
@-webkit-keyframes big-stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes big-stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.first-page__center-elements {
  max-width: 426px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}
.first-page__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 63px;
  z-index: 1;
}
.first-page__logo-container img {
  width: 63px;
  -webkit-transition: width 0.5s ease, height 0.5s ease, -webkit-transform 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease, -webkit-transform 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  height: 63px;
}
.first-page__logo-container:hover img {
  width: 50px;
  height: 50px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header {
  width: 100%;
  z-index: 2;
  max-width: 1193px;
  position: absolute;
  top: min(10%, 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__burger-menu {
  display: none;
  position: relative;
}
.header__logo {
  font-size: 20px;
  letter-spacing: 2px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.header__nav ul li:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 7px;
}

.about {
  background-color: #EEEEEE;
  width: 100vw;
  min-height: 822px;
  max-width: 1193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.about .heading {
  color: #464547;
}
.about .subheading {
  color: #666666;
}
.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.about__text {
  width: 45%;
  text-align: left;
}
.about__button {
  height: 36px;
  width: 118px;
  border-radius: 40px;
  background-color: #55C2D8;
  color: white;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.about__button:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.stories {
  width: 100vw;
  height: 100vh;
  max-width: 1193px;
  max-height: 666px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(140, 79, 42, 0.3)), to(rgba(140, 79, 42, 0.3))), url("../assets/third-section-bg.jpg");
  background-image: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url("../assets/third-section-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories .container {
  width: 480px;
  height: 492px;
  max-width: 480px;
  min-height: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: center;
}
.stories__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  background-color: #55C2D8;
  color: white;
  font-size: 48px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.stories__button:hover {
  background-color: white;
  color: #55C2D8;
  width: 140px;
  height: 140px;
  font-size: 40px;
}
.stories__button span {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.footer {
  width: 100vw;
  min-height: 170px;
  max-width: 1193px;
  background-color: #464547;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.4);
}
.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  font-size: 18px;
  color: white;
}
.footer__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body {
  font-weight: 400;
  line-height: 22px;
  font-family: "Source Sans 3", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EEEEEE;
}

.container {
  width: 80%;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  line-height: 64px;
}

.subheading {
  line-height: 32px;
  font-size: 24px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .header__nav ul {
    display: none;
  }
  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  }
  #burger-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  #burger-toggle:checked + .header__burger-icon + .menu-items {
    display: block;
  }
  #burger-toggle:checked + .header__burger-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  #burger-toggle:checked + .header__burger-icon span:nth-child(2) {
    opacity: 0;
  }
  #burger-toggle:checked + .header__burger-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
            transform: rotate(-45deg) translate(6px, -6px);
  }
  .about__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .about__text {
    width: 100%;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}