//first-page

$firstSectionBg: url("../assets/first-section-bg.jpg");

//second-page

$aboutBackgroundColor: #EEEEEE;
$aboutButtonColor: #55C2D8;
$aboutButtonHoverRotate: 15deg;

//third-page

$thirdSectionBg: url("../assets/third-section-bg.jpg");
$buttonBackgroundColor: #55C2D8;
$buttonHoverBackgroundColor: white;
$buttonTextColor: white;
$buttonHoverTextColor: #55C2D8;
$buttonWidth: 150px;
$buttonHeight: 150px;
$buttonHoverWidth: 140px;
$buttonHoverHeight: 140px;
$buttonHoverFontSize: 40px;

//footer

$footerBackgroundColor: #464547;